<!doctype html>
<html>

<head>
    <title>Budget Tracker</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&family=Inconsolata:wght@800&family=Noticia+Text:wght@700&family=Cedarville+Cursive&family=Homemade+Apple&display=swap" rel="stylesheet">

</head>

<body>
    <h1 id="budgetTitle">Team Budget Manager</h1>
    <p id="des">Have a team of people who need to manage their work budget? <br>
        <span style="color:#c3daf7">Log in or Sign Up for a free account below.</p></span>
<br><br>
    <a href="/login" class="btn btn-default bottom"><span class="fa fa-user"></span>Login</a><br>
    <br><br><br>
    <a href="/signup" class="btn btn-default bottom"><span class="fa fa-user"></span>Signup</a>


    </div>
</body>

</html>