<!doctype html>
<html>

<head>
  <title>Budget Tracker</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&family=Inconsolata:wght@800&family=Noticia+Text:wght@700&family=Cedarville+Cursive&family=Homemade+Apple&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">

    <div class="page-header text-center">
      <h1 id="profile"><span class="fa fa-anchor"></span> Profile Page</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

<section id="budgetTitle">
  <h1 id="haveMoreGoals">Add goals to your personal spreadsheet</h1>
</section>

    <ul class="testTable">
      <% console.log(userEntries) %>
      <ul class="entry">
        <section class="dividers">
        <input class ="goal" placeholder="goal">
      </section> 
        <section class="dividers">
        <input class ="amount" placeholder="amount needed">
      </section>
      <section class="dividers">
        <input class ="balance" placeholder="balance" >
      </section>
      <section class="dividers">
        <input class ="note" placeholder="your note">
      </section>
      
      <button type="submit" class="addGoal"></button>
      </ul>
      <% console.log(userEntries) %>
      <% for(let i = 0; i < userEntries.length; i++) { %>
        <ul class="entry">
          <section class="dividers">
          <input class ="goal" placeholder="goal" value="<%= userEntries[i].goal %>">
        </section>
          <section class="dividers">
          <input class ="amount" placeholder="amount needed" value="<%= userEntries[i].amount %>">
        </section>
        <section class="dividers">
          <input class ="balance" placeholder="balance" value="<%= userEntries[i].balance %>">
        </section>
        <section class="dividers">
          <input class ="note" placeholder="your note" value="<%= userEntries[i].note %>">
        </section>
        
        <button type="submit" class="addGoal"></button>
        </ul>
      <% } %>

    <button id="clear"> clear spreadsheet</button>
  </section>
    <script src="main.js"></script>

</body>

</html>